# Environment
.env
.env.*
!.env.example

# Logs
*.log

# Node
node_modules/

# Python
__pycache__/
*.pyc

# Go
bin/

# .NET
bin/
obj/

# Docker
.docker/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ==========================================
# Enterprise Production-Grade Terraform Blocks
# ==========================================
# Ignore all local CLI configuration and cache files
.terraform/
.terraform.lock.hcl

# Ignore all local state history files (since we use an S3 Remote Backend)
*.tfstate
*.tfstate.*

# Ignore crash logs or variable files containing active cloud tokens
crash.log
*.tfvars
*.tfvars.json

# Allow overriding variables explicitly if using standard template examples
!example.tfvars
!*.tfvars.example

# ==========================================
# Kubernetes & Helm Package Elements
# ==========================================
# Ignore local chart dependency archives and lint temporary caches
.helm/
helm/microservices-platform/charts/
helm/microservices-platform/tmp/
secrets.yaml

# Explicitly ensure GitHub Action configurations are NEVER ignored
!.github/
!.github/workflows/

# Build
dist/
build/

# Coverage
coverage/

# Temp
tmp/
temp/