.git
.github
.gitignore

.vscode
.idea

README.md

Dockerfile
docker-compose.yml

node_modules
npm-debug.log

__pycache__
*.pyc

.gradle
build
target

bin
obj

coverage
tests

*.log

.env
.env.*

.DS_Store
